/* url(src:%20url%28/) */

@font-face {
	font-family: 'paperlogy';
	font-weight: 700;
	src: url(../font/Paperlogy-7Bold.eot);
	src: url(../font/Paperlogy-7Bold.eot?#iefix) format('embedded-opentype'),
	url(../font/Paperlogy-7Bold.woff) format('woff'),
	url(../font/Paperlogy-7Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	src: url(파일명.eot);
	src: url(파일명.eot?#iefix) format('embedded-opentype'),
	url(파일명.woff) format('woff'),
	url(파일명.ttf) format('truetype');
}

